@import url(m_style.css);
html,
body,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.1 {
  -webkit-box-flex: 1;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.88rem;
  background: #f93f51;
}
.container header h3 {
  line-height: 0.88rem;
  margin-left: 0.39rem;
}
.container header h3 img {
  width: 0.37rem;
  height: 0.37rem;
  background: none;
}
.container header h1 {
  margin-left: 2.65rem;
  line-height: 0.88rem;
  font-size: 0.32rem;
  color: #fff;
}
.container section {
  background: #ccc;
  -webkit-box-flex: 1;
  background: #f3f3f3;
}
.container section p {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.85rem;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
}
.container section p a {
  font-size: 0.25rem;
  line-height: 0.85rem;
  margin-left: 0.4rem;
  color: #000;
}
.container section p span {
  display: block;
  width: 0.13rem;
  height: 0.24rem;
  background: none;
  margin-left: 5rem;
  margin-top: 0.3rem;
  font-size: 0.25rem;
}
.container section p span a {
  display: block;
  width: 0.13rem;
  height: 0.24rem;
  background: none;
  background: url(../fan.png) no-repeat;
  background-size: 100% auto;
}
.container section .firs {
  margin-top: 0.12rem;
  height: 1.2rem;
}
.container section .firs span {
  margin-top: 0.1rem;
}
.container section .firs span a {
  display: block;
  width: 0.93rem;
  height: 0.93rem;
  background: none;
  background: url(../img2/nv.png) no-repeat;
  background-size: 100% auto;
}
.container section .b {
  width: 100%;
  height: 0.85remrem;
  background: #ffffff;
}
.container section .b a {
  line-height: 0.85rem;
}
.container section .b span {
  margin-left: 4rem;
  display: block;
  width: 2.7rem;
  height: auto;
  background: none;
  color: #969696;
}
.container section .b span a {
  background: url(../img/fanhui.png) no-repeat;
}
.container section .dd {
  display: block;
  width: 6.69rem;
  height: 0.87rem;
  background: #f9384b;
  color: #fff;
  font-size: 0.25rem;
  border-radius: 0.3rem;
  margin-top: 1.75rem;
  text-align: center;
  line-height: 0.87rem;
  margin-left: 0.4rem;
}
.container section .zhezhao {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  right: 0;
  z-index: 9999;
}
.container section .zhezhao .commit {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 50%;
  margin-top: -1.2rem;
}
.container section .zhezhao .commit h3 {
  height: 1.47rem;
  font-size: 0.25rem;
  line-height: 1.47rem;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
.container section .zhezhao .commit a {
  font-size: 0.25rem;
  line-height: 0.9rem;
  margin-right: 0.83rem;
  margin-left: 0.83rem;
  -webkit-box-flex: 1;
}
.container section .xiu {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  right: 0;
  z-index: 9999;
}
.container section .xiu .commi {
  width: 4.66rem;
  height: 2.69rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 50%;
  margin-top: -1.2rem;
}
.container section .xiu .commi h3 {
  font-size: 0.25rem;
  font-weight: normal;
  width: 4.1rem;
  height: 0.64rem;
  background: none;
  text-align: center;
  margin-top: 0.33rem;
  margin-left: 0.25rem;
  color: #646464;
}
.container section .xiu .commi .yuan {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 4.07rem;
  height: 0.44rem;
  background: none;
  border: none;
  border-bottom: solid #fcc479;
  margin-left: 0.34rem;
  margin-top: 0.55rem;
  font-size: 0.25rem;
  text-indent: 0.8rem;
}
.container section .xiu .commi a {
  font-size: 0.25rem;
  line-height: 0.9rem;
  margin-right: 0.83rem;
  margin-left: 0.83rem;
  -webkit-box-flex: 1;
}
.container section .geng {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  right: 0;
  z-index: 9999;
}
.container section .geng .commi {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 35%;
  margin-top: -1.2rem;
}
.container section .geng .commi h2 {
  font-size: 0.25rem;
  width: 3.49rem;
  height: 0.75rem;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  line-height: 0.75rem;
  margin-left: 0.49rem;
}
.container section .hua {
  font-size: 0.28rem;
  width: 6.7rem;
  margin-left: 0.4rem;
  font-weight: normal;
  color: #999999;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}
.container section .hua span {
  color: #000;
}
.container section .hao {
  font-size: 0.25rem;
  font-weight: normal;
  color: #999999;
  padding-left: 0.4rem;
  height: 0.47rem;
  border-bottom: 1px solid #ccc;
}
.container section .hao span {
  color: #000;
  margin-left: 0.2rem;
}
.container section .mmi {
  font-size: 0.25rem;
  margin-top: 0.39rem;
  padding-left: 0.4rem;
  font-weight: normal;
  border-bottom: 2px solid #fabd6d;
}
.container section .mmi .in_1 {
  width: 4.4rem;
  height: 0.47rem;
  background: none;
  border: none;
  font-size: 0.25rem;
  line-height: 0.47rem;
  margin-left: 0.3rem;
}
.container section .mm {
  font-size: 0.25rem;
  margin-top: 0.39rem;
  padding-left: 0.4rem;
  font-weight: normal;
  border-bottom: 2px solid #ccc;
}
.container section .mm .in_1 {
  width: 4.4rem;
  height: 0.47rem;
  background: none;
  border: none;
  font-size: 0.25rem;
  line-height: 0.47rem;
  margin-left: 0.3rem;
  color: #red;
}
.container .header1 {
  width: 100%;
  height: 4.6rem;
  background: none;
  background: url(../img4/bg1.png) no-repeat;
  background-size: 7.5rem ;
}
.container .header1 .top {
  width: 100%;
  height: 0.9rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 0.9rem;
}
.container .header1 .top p {
  -webkit-box-flex: 1;
}
.container .header1 .top p a {
  font-size: 0.3rem;
  color: #fff;
  margin-left: 0.4rem;
}
.container .header1 .top p a img {
  width: 0.35rem;
}
.container .header1 .top h3 {
  font-size: 0.3rem;
  display: inline-block;
  color: #fff;
  font-weight: normal;
  margin-right: 0.4rem;
}
.container .header1 .center {
  width: 100%;
  height: 1.07rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 1.07rem;
}
.container .header1 .center p {
  font-size: 0.28rem;
  -webkit-box-flex: 1;
  margin-left: 1.18rem;
}
.container .header1 .center p a {
  font-size: 0.3rem;
  color: #fff;
}
.container .header1 .center1 {
  width: 100%;
  height: 0.58rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .header1 .center1 p {
  line-height: 0.58rem;
  font-size: 0.28rem;
  -webkit-box-flex: 1;
  margin-left: 1.18rem;
}
.container .header1 .center1 p a {
  font-size: 0.55rem;
  color: #fff;
}
.container .header1 .bottom {
  width: 100%;
  height: 1.3rem;
  background: none;
  margin-top: 0.75rem;
  position: relative;
  border-top: 1px solid #fb7c88;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
}
.container .header1 .bottom .xxx {
  position: fixed;
  right: 1.33rem;
  top: 3.24rem;
}
.container .header1 .bottom h3 {
  font-size: 0.26rem;
  color: #fff;
  font-weight: normal;
  margin-top: 0.26rem;
  -webkit-box-flex: 1;
}
.container .header1 .bottom h3 p {
  font-size: 0.3rem;
  margin-top: 0.13rem;
}
.container .header1 .bottom h4 {
  margin-top: 0.26rem;
  font-size: 0.26rem;
  color: #fff;
  font-weight: normal;
  -webkit-box-flex: 1;
}
.container .header1 .bottom h4 p {
  font-size: 0.3rem;
  margin-top: 0.13rem;
}
.container .header1 .bottom .jiao {
  position: absolute;
  right: 1.71rem;
  bottom: 0;
}
.container .section {
  overflow: auto;
  -webkit-box-flex: 1;
  width: 100%;
  height: auto;
  background: #cccccc;
}
.container .section .main {
  width: 100%;
  height: 1.33rem;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container .section .main h3 {
  -webkit-box-flex: 1;
}
.container .section .main h3 img {
  width: 1.15rem;
  margin-left: 0.4rem;
  display: inline-block;
  margin-top: -0.4rem;
}
.container .section .main h3 span {
  width: 2.3rem;
  display: inline-block;
  margin-left: 0.4rem;
}
.container .section .main h3 span a {
  display: inline-block;
}
.container .section .main h4 {
  margin-top: 0.45rem;
  margin-right: 0.4rem;
}
